Django==1.7
MySQL-python==1.2.5
PyYAML==3.11
awscli==1.4.4
bcdoc==0.12.2
boto==2.32.1
botocore==0.63.0
colorama==0.2.5
docutils==0.12
filechunkio==1.6
jmespath==0.4.1
mrjob==0.4.4
mysql==0.0.1
pyasn1==0.1.7
python-dateutil==2.2
python-memcached==1.53
rsa==3.1.2
selenium==2.43.0
simplejson==3.7.3
six==1.8.0
wsgiref==0.1.2
